body {
  background: linear-gradient(red, blue );
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
}

#new-game, #start-game, #guess-letter {
  padding: 10px;
  margin: 10px;
  font-size: 24px;
  border-radius: 10px;
  outline: 0;
  background: orange;
  cursor: pointer;
  border-color: red;
  border-width: 5px;
  font-style: italic;
}

#answer-array {
  font-size: 30px;
  padding: 10px;
  letter-spacing: 5px;
  margin: 10px;
  width: auto;
}

img {
  width: 80px;
  height: auto;
}

#input-word, #input-guess {
  font-size: 20px;
}
